.wrapper {
	border: 1px solid #41549a33;
	border-radius: 8px;
	width: 1029px;

	padding: 24px;
	margin-top: 20px;
}

.delete {
	position: absolute;
	bottom: 0;
	right: -5px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 24px;
	font-weight: 500;
}

.actions {
	margin: 20px 0;
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	display: flex;
}
