@use 'styles/variables';

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.textInput {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid variables.$gray_color;
  border-radius: variables.$input_border_radius;
  outline: none;
  transition: all 0.3s ease;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textInput {
  font-weight: 300;

  &::placeholder {
    color: variables.$gray_color;
  }
}

.textInput:focus {
  border: 1px solid variables.$blue_color;
}

.textInput::-webkit-outer-spin-button,
.textInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

