@import 'styles/variables';

.form {
  width: 100%;
  height: 100vh;
  background: $gradient_pink_background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
