@use 'styles/variables';

.button {
  padding: 8px 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: variables.$button_border_radius;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.button:hover {
  box-shadow: variables.$box_shadow_form;
}

.button[data-theme='primary'] {
  background: variables.$pink_color;
  color: variables.$dark-blue_color;

  &:hover {
    background: variables.$pink_color_hover;
  }
}

.button[data-theme='blue'] {
  background: variables.$blue_color;
  color: variables.$white_color;

  &:hover {
    background: variables.$blue_color_hover;
  }
}

.button[data-theme='no-background'] {
  border: 1px solid variables.$blue_color;
  color: variables.$black_color;
  background: variables.$white_color;
}