$gradient_pink_background: linear-gradient(297deg, white 0%, #FFD7ED 100%);
$black_color: #000000;
$red_color: #F34141;
$gray_color: #B3BBD7;
$blue_color: #41549A;
$pink_color: #FFD7ED;
$white_color: #FFFFFF;

$box_shadow_form: 0 0 8px rgba(0, 0, 0, 0.25);

$form_border_radius: 12px;
$input_border_radius: 8px;
$button_border_radius: 8px;


