$gradient_pink_background: linear-gradient(297deg, white 0%, #FFD7ED 100%);
$black_color: #000000;
$red_color: #F34141;
$gray_color: #B3BBD7;
$gray_color2: #41549A33;
$gray_color2_hover: #41549A66;
$blue_color: #41549A;
$blue_color_hover: #2843A3;
$pink_color: #FFD7ED;
$pink_color_hover: #FFBEE2;
$white_color: #FFFFFF;
$dark-blue_color: #1A2240;

$box_shadow_form: 0 0 8px rgba(0, 0, 0, 0.25);

$form_border_radius: 12px;
$input_border_radius: 8px;
$button_border_radius: 8px;


