.container {
	width: 1029px;
	border: 1px solid #41549a33;
	border-radius: 16px;
	margin-bottom: 40px;
}

.block_name {
	width: 1029px;
	font-size: 24px;
	color: #41549a;
	font-weight: 600;
	height: 76px;
	border-bottom: 1px solid #41549a33;
	display: flex;
	align-items: center;
	padding: 0 32px;
	justify-content: space-between;
}

.block {
	padding: 24px 32px;
}

.delete {
	position: absolute;
	bottom: 16px;
	right: -5px;
    cursor: pointer;
}
