$defaultCheckboxBorder: #41549A66;
$inTargetCheckboxBorder: #41549A;
$checkedBackground: #FFD7ED;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  // Скрываем нативный input, но оставляем его доступным для клавиатуры
  input {
    position: absolute;
    opacity: 0;

    // СОСТОЯНИЕ: Focus
    &:focus-visible + span::before {
      border-color: $inTargetCheckboxBorder;
    }

    // СОСТОЯНИЕ: Focus and Checked
    &:checked:focus-visible + span::before {
      border-color: $inTargetCheckboxBorder;
    }

    // СОСТОЯНИЕ: Checked
    &:checked + span::before {
      background-color: $checkedBackground;
      border-color: $checkedBackground;
      background-image: url('../../../../assets/images/checkmark.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  span {
    display: inline-flex;
    align-items: center;
    user-select: none;

    // СОСТОЯНИЕ: Default
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid $defaultCheckboxBorder;
      background-color: white;
      margin-right: 4px;
      flex-shrink: 0;
      transition: border-color 0.2s, background-color 0.2s;
    }
  }

  // СОСТОЯНИЕ: Hover
  &:hover input:not(:checked) + span::before {
    border-color: $inTargetCheckboxBorder;
  }
}