.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: all ease 0.3s;
  color: rgba(92, 92, 119, 0.52);
}

.input {
  padding-left: 28px;
  z-index: 2;
}

.input::placeholder {
  font-size: 16px;
  line-height: 19px;
}
