@use 'styles/variables';

.container {
  width: 388px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-shadow: variables.$box_shadow_form;
  background: variables.$white_color;
  border-radius: variables.$form_border_radius;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}