.container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 32px 0;
}

.catalog {
	width: 1296px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: space-between;
	grid-row-gap: 30px;
}
