@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 388px;
  padding: 32px;
  background: $white_color;
  border-radius: $form_border_radius;
  box-shadow: $box_shadow_form;
}

.h2 {
  margin-top: 8px;
  margin-bottom: 32px;
}

.formFields{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
